POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=test

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin


DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000